<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <!-- Noto Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&amp;display=swap"
        rel="stylesheet">
    <!-- Noto Serif Korean  -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <!-- Noto Sans Korean -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="./css/header_footer.css">
</head>
<body>
    <!-- footer -->
    <footer>
        <div class="inner">
            <div class="footTop">
                <ul class="utilWrap">
                    <li><a href="#void">개인정보처리방침</a></li>
                    <li><a href="#void">이용약관</a></li>
                    <li><a href="#void">이용안내</a></li>
                    <li><a href="#void">이메일 무단수집거부</a></li>
                    <li><a href="#void"> 법적고지</a></li>
                </ul>
            </div>
            <div class="footMiddle">
                <h2 class="footLogo">
                    <img src="./images/logo_white.png" alt="로고">
                </h2>
                <address>
                    <p>
                        <strong>사업자명 :</strong> <span>(주)세이렌</span>
                        <strong>대표이사 :</strong> <span>OOO</span>
                    </p>
                    <p>
                        <strong>사업자등록번호 :</strong><span>000-00-00000</span>
                        <strong>주소 :</strong><span>서울특별시 00구 00동 00로 00 00타워 A동</span>
                    </p>
                    <p>
                        <strong>메일 :</strong><span>hbike@naver.com</span>
                    </p>
                    <p class="copy">Copyright © 2024 All rights reserved by SAREN</p>
                </address>
            </div>
        </div>
    </footer>
</body>

</html>