<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/header_footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $
    </script>
</head>

<body>
    <!-- header -->
    <header>
        <div class="header_top inner">
            <div class="leftGnb">
                <h1 class="logo">
                    <img src="./images/logo_black.png" alt="로고">
                </h1>
                <form class="search_form">
                    <label for="search_wrap">
                        <input name="search_input" type="search" />
                        <img src="./images/icon_serch.png" alt="돋보기 아이콘" class="search_img" />
                    </label>
                </form>
            </div>
            <div class="rightGnb">
                <ul>
                    <li>
                        <a href="#"> <img src="./images/icon-login.gif" alt="로그인">로그인</a>
                    </li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">쇼핑백</a></li>
                </ul>
            </div>
        </div>
        <div class="header_bottom">
            <div class="menu_wrap inner">
                <ul class="left_menu">
                    <li>
                        <a href="javascript:#void">여성</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">재킷/베스트</a></li>
                                <li><a href="#">니트</a></li>
                                <li><a href="#">셔츠/블라우스</a></li>
                                <li><a href="#">티셔츠</a></li>
                                <li><a href="#">원피스</a></li>
                                <li><a href="#">팬츠</a></li>
                                <li><a href="#">스커트</a></li>
                                <li><a href="#">쥬얼리/시계</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:#void">남성</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">재킷/베스트</a></li>
                                <li><a href="#">니트</a></li>
                                <li><a href="#">셔츠/블라우스</a></li>
                                <li><a href="#">티셔츠</a></li>
                                <li><a href="#">원피스</a></li>
                                <li><a href="#">팬츠</a></li>
                                <li><a href="#">스커트</a></li>
                                <li><a href="#">쥬얼리/시계</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:#void">키즈</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">남아</a></li>
                                <li><a href="#">여아</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:#void">럭셔리</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">여성의류</a></li>
                                <li><a href="#">여성가방/지갑</a></li>
                                <li><a href="#">여성슈즈</a></li>
                                <li><a href="#">여성 쥬얼리/시계</a></li>
                                <li><a href="#">남성의류</a></li>
                                <li><a href="#">남성가방/지갑</a></li>
                                <li><a href="#">남성슈즈</a></li>
                                <li><a href="#">선글라스/안경테</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:#void">키즈</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">재킷/베스트</a></li>
                                <li><a href="#">니트</a></li>
                                <li><a href="#">셔츠/블라우스</a></li>
                                <li><a href="#">티셔츠</a></li>
                                <li><a href="#">원피스</a></li>
                                <li><a href="#">팬츠</a></li>
                                <li><a href="#">스커트</a></li>
                                <li><a href="#">쥬얼리/시계</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:#void">스포츠</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">아웃도어/캠핑</a></li>
                                <li><a href="#">피트니스</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:#void">가방&신발</a>
                        <div class="dropdown_nav">
                            <ul>
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">전체 상품</a></li>
                                <li><a href="#">여성 가방</a></li>
                                <li><a href="#">여성 슈즈</a></li>
                                <li><a href="#">남성 가방</a></li>
                                <li><a href="#">남성 슈즈</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="right_menu">
                    <li>
                        <a href="#void" class="highlight">AI추천코디</a>
                    </li>
                    <li>
                        <a href="#void" class="highlight">옷대여</a>
                    </li>
                    <li>
                        <a href="#void">Q&A</a>
                    </li>
                    <li>
                        <a href="#void">공지사항</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>

</html>